.RadarChart {
    display: inline-block;
    float: left;
}

.RadarOutline {
    width: 10em;
    margin-top: 1em;
}

.Node {
    position: absolute;
    width: 2em;
    height: 2em;
}

.HP {
    top: 22.3%;
    left: 70.1%;
}

.Atk {
    top: 34.9%;
    left: 81.6%;
}

.Def {
    top: 62.5%;
    left: 81.6%;
}

.SpA {
    top: 34.9%;
    left: 58%;
}

.SpD {
    top: 62.5%;
    left: 58%;
}

.Speed {
    top: 75.4%;
    left: 70.1%;
}