.pokeTileNight {
    /* border: 3px rgb(80,80,80) solid; */
    border-radius: 1.5em;
    margin: 0.25em 0.25em;
}

.pokeTileNight:hover {
    background-image: radial-gradient(rgb(150,150,150), rgb(80,80,80));
}