.App {
    background-color: rgb(230,230,230);
    display: flex;
    flex-flow: column;
    align-items: center;
    min-height: 100vh;
}

.AppNight {
    background-color: rgb(50,50,50);
    display: flex;
    flex-flow: column;
    align-items: center;
    min-height: 100vh;
}